
@{
    ViewBag.Title = "ThemHocSinhTuFile";
}

<h2>Thêm Học Sinh Từ File Excel</h2>

@using (Html.BeginForm("ThemHocSinhTuFile", "HocSinh", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
        <div class="form-group">
            <input type="file" id="dataFile" name="upload" class="btn btn-info"/>
        </div>
        <div class="form-group">
            @Html.ActionLink("Hủy", "Index", "HocSinh", null, new { @class = "btn btn-default" })
            <input type="submit" value="Tải lên và Lưu" class="btn btn-success" />
        </div>
}
