
@{
    ViewBag.Title = "Tìm Học Sinh Mượn Sách";
}
<h2 class="text-center">Tìm Học Sinh Mượn Sách</h2>
<br />
<div>
    @using (Html.BeginForm(FormMethod.Get))
    {
        <div class="form-inline" role="form">
            <div class="form-group">
                <input name="tenHS" type="text" class="form-control" placeholder="Tìm Học Sinh">
            </div>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    }
</div>
<br />
<div>
    @Html.ActionLink("Danh Sách Học Sinh Đang Mượn Sách", "Index")
</div>
<br />
@if (ViewBag.HocSinh != null)
{
    <br />
    <h2>Kết Quả</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    Tên học sinh
                </th>
                <th>
                    Lớp
                </th>
                <th>
                    Ngày Sinh
                </th>
            </tr>

            @foreach (var item in ViewBag.HocSinh)
            {
                string url = "/MuonTraSach/HocSinh/" + item.ID;

                <tr class='clickable-row' data-href='@url'>
                    <td>
                        @item.TenHS
                    </td>
                    <td>
                        @item.Lop
                    </td>
                    <td>
                        @item.NgaySinh.ToShortDateString()
                    </td>
                </tr>
            }

        </table>
    </div>
}
@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
}
