@model IEnumerable<LibraryManagementSystem.Models.ChuDe>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2 class="text-center">Danh Sách Chủ Đề</h2>
    </div>
    <div class="col-md-2">
        <br />
    </div>
    <div class="col-md-2">
        <div class="text-right">
            @Html.ActionLink("Thêm Chủ Đề", "Create", "ChuDe", null, new { @class = "btn btn-success" })
        </div>
    </div>
</div>
<br />
<br />
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.ActionLink("Tên Chủ Đề", "Index", new
           {
               sortOrder = ViewBag.SortTen
           })
            </th>
        </tr>
        @foreach (var item in Model)
        {
            string url = "ChuDe/Edit/" + item.ID;

            <tr class='clickable-row' data-href='@url'>
                <td>
                    @Html.DisplayFor(modelItem => item.TenChuDe)
                </td>
            </tr>
        }
    </table>
</div>
@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
}