<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#e_bcs").ready(function () {
                $("#t_bcs").hide();
            });
            $("#e_bcs").click(function () {
                $("#t_bcs").fadeToggle("slow");
            });
        });
    </script>
    <script>
        function khosach() {
            window.open("/Sach");
        }
    </script>
    <style>
        a:link {
            color: black;
        }

        a:visited {
            color: hotpink;
        }

        a:active {
            color: green;
        }
    </style>
</head>
<body>
    <div>
        <h4><a id="e_bcs">Bảng Thống Kê Sách Có Trong Thư Viện</a></h4>
        @if (ViewBag.ThongKeSach_Count == 0)
        {
            <p>Thư Viện Không Có Sách</p>
        }
        else
        {
            <div class="panel-heading">
                Tổng cộng:
                <span class="badge">@ViewBag.ThongKeSach_Count</span>
            </div>
            <div class="table-responsive" id="t_bcs">
                <table class="table">
                    <tr>
                        <th>
                            Thể Loại
                        </th>
                        <th>
                            Số Lượng
                        </th>
                    </tr>
                    @foreach (var chude in ViewBag.ThongKeSach)
                {
                        <tr>
                            <td>
                                @chude.GroupName1
                            </td>
                            <td>
                                @chude.GroupSoLuong
                            </td>
                        </tr>
                    }
                </table>
                
            </div>
            <button class="btn btn-success" onclick="khosach()">
                Kho Sách
            </button>
        }
    </div>
</body>
</html>
