<div>
    <h4><u>Bảng Thống Kê Hoạt Động Đọc Sách Tại Thư Viện (@ViewBag.date)</u></h4>
    @if (ViewBag.DocSachTaiCho_Count == 0)
    {
        <p>Không có hoạt động đọc sách</p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        Lớp
                    </th>
                    <th>
                        Số Lượt Đọc
                    </th>
                </tr>
                @foreach (var item in ViewBag.DocSachTaiCho)
                {
                    <tr>
                        <td>
                            @item.GroupName1
                        </td>
                        <td>
                            @item.GroupSoLuong
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <strong>Tổng Cộng</strong>
                    </td>
                    <td>
                        <strong>@ViewBag.DocSachTaiCho_Count</strong>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>